# http://about.travis-ci.org/docs/user/build-configuration/
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  # - rbx
gemfile: Gemfile.ci
notifications:
  recipients:
    - nesquena@gmail.com
    - databyte@gmail.com
