name: Ruby tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Ruby tests
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        ruby-version: ['2.0', '2.1', '2.2', '2.3', '2.4', '2.5', '2.6', '2.7', '3.0', '3.1', '3.2', '3.3', '3.4', '4.0']
        channel: ['stable']
        os: ['ubuntu-latest']

        include:
          # NOTE: Ruby 1.9.3 fails to install on ubuntu-24.04 despite being listed as
          # supported in ruby/setup-ruby docs at https://github.com/ruby/setup-ruby?tab=readme-ov-file#supported-versions:
          #
          #     Error: Unavailable version 1.9.3-p551 for ruby on ubuntu-24.04.
          - ruby-version: '1.9.3'
            channel: 'stable'
            os: 'ubuntu-22.04'

          - ruby-version: 'head'
            channel: 'experimental'
            os: 'ubuntu-latest'

    continue-on-error: ${{ matrix.channel != 'stable' }}

    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Enable frozen string flags in RUBYOPT (Ruby >= 3.0)
      if: ${{ !(startsWith(matrix.ruby-version, '1.') || startsWith(matrix.ruby-version, '2.') ) }}
      run: |
        echo "RUBYOPT=--enable=frozen-string-literal --debug=frozen-string-literal" >> $GITHUB_ENV
    - name: Run tests
      run: bundle exec rake
